body {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.link {
    font-size: 18px;
    color: #E5E7EB;
}

.header {
    background-color: #1F2937;
    display: flex;
    gap: 15px;
    justify-content: space-between;
    padding-left: 120px;
    padding-right: 120px;
}

.links {
    display: flex;
    gap: 30px;
}

.main_container {
    background-color: #1F2937; 
    display: flex;
    padding: 60px 120px 60px 120px;
    justify-content: space-between;
}

.main_left_side {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
}

.sign_up_button {
    max-width: 110px;
    padding: 5px 20px 5px;
    border-radius: 6px;
    font-weight: bold;
}

.image_text {
    padding: 70px;
    background-color: darkgrey;
    text-align: center;
    vertical-align: middle;
}

.awesome_subtext {
    margin-bottom: 10px;
    margin-top: 0px;
}

.awesome_subtext, .image_text {
    color: #E5E7EB;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    padding: 0;
    margin: 0;
}

.info_container {
    padding: 0px 184px 60px 184px;
}

.images {
    display: flex;
    justify-content: space-between;
    gap: 12px;
}

.image_one, .image_two, .image_three, .image_four {
    display: flex;
    flex-direction: column;
    max-width: 150px;
    text-align: center;
}

.img_four, .img_one, .img_two, .img_three {
    border: 3px solid #3882F6;
    border-radius: 8px;
}

.quote_container {
    background-color: #E5E7EB;
    padding: 60px 184px 60px 184px;
}

.sign_up_container {
    background-color: #3882F6;
    color: #E5E7EB;
    margin: 60px 120px 60px 120px;
    display: flex;
    padding: 24px 64px;
    justify-content: space-between;
    align-items: center;
    line-height: 40%;
}

.button_end {
    border: none;
}

.sign_up_text {
    margin: 0;
}


button {
    background-color: #3882F6;
    color: #E5E7EB;
}

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 8px 120px 8px 120px;
    text-align: center;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: lighter;
    font-style: italic;
}

.random_info {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
}

.thor_text {
    font-weight: bold;
    text-align: end;
}