body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.link {
    font-size: 18px;
    color: #E5E7EB;
}

.header {
    background-color: #1F2937;
    display: flex;
    gap: 15px;
    justify-content: space-between;
    padding-left: 120px;
    padding-right: 120px;
}

.links {
    display: flex;
    gap: 30px;
}

.main_container {
    background-color: #1F2937; 
    display: flex;
    padding: 60px 120px 60px 120px;
    justify-content: space-between;
}

.main_left_side {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
}

.sign_up_button {
    max-width: 110px;
    padding: 5px 20px 5px;
    border-radius: 6px;
}

.image_text {
    padding: 70px;
    background-color: darkgrey;
    text-align: center;
    vertical-align: middle;
}

.awesome_subtext {
    margin-bottom: 10px;
    margin-top: 0px;
}

.awesome_subtext, .image_text {
    color: #E5E7EB;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    padding: 0;
    margin: 0;
}

.info_container {
    padding: 0px 120px 0px 120px;
}

.images {
    display: flex;
    justify-content: center;
}

.quote_container {
    background-color: #E5E7EB;
}

.sign_up_container {
    background-color: #3882F6;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
}

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: lighter;
    font-style: italic;
}

.random_info {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
}

.thor_text {
    font-weight: bold;
}